{% extends "layouts/main.html" %}

{% block content %}
<form method="POST" role="form">
    <legend>Login</legend>
    <div class="form-group">

        <div class="input-group col-xs-3">
            <label>e-mail</label>
            <input placeholder="E-mail" class="form-control" type="email" name="email" required="required"/>
        </div>
        <div class="input-group col-xs-3">
            <label>Password</label>
            <input placeholder="Password" class="form-control" type="password" name="password" required="required"/>
        </div>
    </div>
    <input type="submit" value="Login" name="login" class="btn btn-primary"/>

</form>
{% endblock %}
