{% extends "layouts/base.html" %}
{% block inject %}
	<div class="row error-bar">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-{{ type }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ title }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ message }}
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.row -->
{% endblock %}